@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-item {
  @apply min-w-[46px] h-[24px] text-[16px] leading-[24px]
         tracking-[0.15px] font-medium text-[#282933]
         whitespace-nowrap transition-colors;
         cursor: pointer;
}


.menu-item:hover {
  color: #7c3aed; 
}

